#produtos,#sobre,#fale{
    min-height: 100vh;
    padding: 4em;
}

#produtos{
    background-color: bisque;
    color: brown;
}

#sobre{
    background-color: cadetblue;
    color: bisque;
}

#fale{
    background-color: brown;
    color: white;
}

nav{
    position: fixed;
    margin-top: 0px;
    width: 100%;
}

#produtos img{
    max-height: 350px;
}

.card h5{
    text-align: center;
}

h1{
    margin-bottom: 1em;
}
